Package: orac
Version: 0.2.1-2
Section: sound
Priority: optional
Architecture: armhf
Depends: mec (>= 0.2.1-1), puredata (>=0.49.0-3)
Maintainer: Mark Harris <...>
Description: ORAC
 See https://github.com/TheTechnobear/Orac/ for more information.
