[Unit]
Description=Run MEC at boot
DefaultDependencies=no
Wants=network-online.target
After=network-online.target
Conflicts=shutdown.target
Before=shutdown.target 

[Service]
Type=simple
User=pi
Group=pi
KillMode=process
Restart=always
WorkingDirectory=/usr/local/MEC
Environment=HOME=/home/pi
ExecStart=/usr/local/MEC/mec-app osckontrol.json 
#ExecStart=/usr/local/MEC/mec-app pushkontrol.json 

[Install]
WantedBy=default.target
