[Unit]
Description=Run MEC at boot
DefaultDependencies=no
Wants=network-online.target
After=network-online.target
Conflicts=shutdown.target
Before=shutdown.target bela_startup.service

[Service]
ExecStart=/root/MEC/mec-app osc_kontrol.json 
Type=simple
Restart=always
WorkingDirectory=/root/MEC
Environment=HOME=/root

[Install]
WantedBy=default.target
