[Unit]
Description=orac for TT
DefaultDependencies=no
After=network-online.target
After=sound.target
Conflicts=shutdown.target
Before=shutdown.target 

[Service]
Type=simple
User=root
Group=root
Environment=HOME=/home/we
EnvironmentFile=/etc/environment
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
KillMode=process
Restart=always
WorkingDirectory=/usr/local/orac
ExecStart=/usr/bin/pd -rt -alsamidi -nogui -audiobuf 16 mother.pd main.pd 

[Install]
WantedBy=orac.target
