[Unit]
Description=orac

Requires=sockets.target
Requires=sound.target
Requires=orac-init.service
Requires=orac.service

AllowIsolate=yes

[Install]
WantedBy=multi-user.target
