Package: orac
Version: 0.2.3-5
Section: sound
Priority: optional
Architecture: armhf
Depends: puredata (>=0.49.0), i2c-tools (>= 4.1), libi2c-dev (>= 4.1), wiringpi(>= 2.50)
Maintainer: Mark Harris <...>
Description: ORAC
 See https://github.com/TheTechnobear/Orac/ for more information.


