[Unit]
Description=Run MEC at boot
DefaultDependencies=no
Wants=network-online.target
After=network-online.target
Conflicts=shutdown.target
Before=shutdown.target 

[Service]
Type=simple
#User=pi
#Group=pi
#Environment=HOME=/home/pi
User=patch
Group=patch
Environment=HOME=/home/patch
KillMode=process
Restart=always
WorkingDirectory=/usr/local/MEC
ExecStart=/usr/local/MEC/mec-app osckontrol.json 
#ExecStart=/usr/local/MEC/mec-app pushkontrol.json 

[Install]
WantedBy=default.target
