Package: sidekick
Version: 0.1.2-0
Section: sound
Priority: optional
Architecture: armhf
Depends: libc6 (>= 2.19), libgcc1 (>= 1:4.9.2-10), i2c-tools (>= 4.1), libi2c-dev (>= 4.1)
Maintainer: Mark Harris <...>
Description: Sidekick application for rPI
 See https://github.com/TheTechnobear/TTuiLite/ for more information.
