Package: orac
Version: 0.2.0-1
Section: sound
Priority: optional
Architecture: armhf
Depends: mec (>= 0.1.1-2)
Maintainer: Mark Harris <...>
Description: ORAC
 See https://github.com/TheTechnobear/Orac/ for more information.
